
/*
*cubic-bezier
*/

img{
	width: 150px;
	height: 100px;
	/*cubic-bezier http://www.jianshu.com/p/d999f090d333*/
	transition: 0.5s width, 0.5s 0.5s height cubic-bezier(.83,.97,.05,1.77);
	/*����ʵ��һ�ּ�д��ʽ,����д������:
	img{
		width: 150px;
		height: 100px;
		transition-property: height;
		transition-duration: 0.5s;
		transition-delay: 0.5s;
		transition-timing-function: cubic-bezier(.83,.97,.05,1.77);
	}
	*/
}

img:hover{
	width: 500px;
	height: 400px;
}